.field{
    position: relative;
    
    &:has(.field__input:not(:placeholder-shown)) .field__label{
        scale: 0.7;
        translate:  -1.75em -2.6em;
        color: var(--color-textandbuttons-light);
    }
}
.field__label{
    position:absolute;
    top: 50%;
    left:25px;
    color: var(--color-placeholdertext-light);
    translate: 0 -50%;
}