.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--input-height);  
    padding: 0 23px;              
    color: var(--color-button-text);
    background-color: var(--color-textandbuttons-light);
    border-radius: var(--border-radius);
    border: none;
    font-size: 20px;
    cursor: pointer;
    line-height: 1;
}

.button:hover{
    color: var(--color-placeholdertext-light);
}

.button:active{
    transform: scale(0.98);
}