
.field {
  display: block; 
}

.field__input {
  box-sizing: border-box;
  height: var(--input-height);       
  min-height: var(--input-height);
  padding: 0 18px 0 18px;
  padding-right: 160px; 
  border-radius: var(--border-radius);
  border: var(--border--light);
  background-color: var(--color-input-bg);
  color: var(--color-textandbuttons-light);
  font-size: 20px;
  outline: none;
  transition: box-shadow var(--transition-duration), border-color var(--transition-duration);
 


}





.field__input::placeholder {
  color: var(--color-placeholdertext-light);
  opacity: 1;
}


.field__input:focus {
  box-shadow: 0 0 0 4px rgba(0,0,0,0.03);
  border-color: var(--color-textandbuttons-light);
}


.todo_form .field__input {
  flex: 1 1 auto;
  min-width: 0;
}


[data-js-todo-search-task-form] .field__input {
  padding-right: 48px; 
}
