:root{
    --color-backgound-footer-light:#CACACA;
    --color-backgound-footer-dark:#1A1A1A;

    --color-backgound-body-dark:#1C1C1E;
    --color-backgound-body-light:#DEDEDE;

    --color-border-light:#C5C5C5;
    --color-border-dark:#868686;

    --color-textandbuttons-light:#434343;
    --color-textandbuttons-dark:#DEDEDE;

    --color-placeholdertext-light:#B2B2B2;
    --color-placeholdertext-dark:#4B4B4B;    

    --border--light:2px solid var(--color-border-light);
    --border--dark:2px solid var(--color-border-dark);
    --border-radius:50px;   

    --box-shadow:116px -23px 33px 0px rgba(0, 0, 0, 0),74px -15px 30px 0px rgba(0, 0, 0, 0.03),42px -8px 25px 0px rgba(0, 0, 0, 0.1),18px -4px 19px 0px rgba(0, 0, 0, 0.17),5px -1px 10px 0px rgba(0, 0, 0, 0.2);
    
    --input-height:60px;

    
    --transition-duration: 0.2s ;


    --color-todo-bg-light: #F2F2F2;
    --color-todo-bg-dark: #222428;
    --color-input-bg-light: #FFFFFF;
    --color-input-bg-dark: #1E1E1E;

    --color-button-text-light: #F2F2F2;
    --color-button-text-dark: #1A1A1A;

    --color-todo-bg: var(--color-todo-bg-light);
    --color-input-bg: var(--color-input-bg-light);
    --color-button-text: var(--color-button-text-light);
}